/**************************************
		Background Colours
**************************************/

.bg-black { background-color: @custom-offblack; }
.bg-orange { background-color: @custom-orange; }
.bg-gainsboro { background-color: @custom-gainsboro; }
.bg-blue { background-color: @custom-blue; }

/**************************************
		Font Colours
**************************************/

.font-white { color: @custom-offwhite; }
.font-orange { color: @custom-orange; }

/**************************************
		Font Commands
**************************************/

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.nounderline { 
	:hover {
		text-decoration: none !important; 
	}
	
	text-decoration: none !important; 
}

.bigger {
  font-size: 1.745em;
}

.borderline {
	display: block;
	border-bottom-width: 2px;
	border-style:solid;
	border-color: @custom-offblack;
}

.borderline.border-white {
	border-color: @custom-offwhite;
}

/**************************************
		Box Shadows
**************************************/

.bottom-box-shadow-black {
	box-shadow: black 1px 1px 1px 1px;
}

/**************************************
		Margins
**************************************/

.m0 { margin: 0; }

.generate-margins(20);

.generate-margins(@n, @i: 1) when (@i =< @n) {
	@number: (@i*5);
	.ml-@{number} { 
		margin-left: (@i*5px); 
	}
	.mr-@{number} { 
		margin-right: (@i*5px); 
	}
	.mb-@{number} { 
		margin-bottom: (@i*5px); 
	}
	.mt-@{number} { 
		margin-top: (@i*5px); 
	}
  .generate-margins(@n, (@i + 1));
}

/**************************************
		Padding
**************************************/

.p0 { padding: 0; }

.generate-padding(20);

.generate-padding(@n, @i: 1) when (@i =< @n) {
	@number: (@i*5);
	.pl-@{number} { 
		padding-left: (@i*5px); 
	}
	.pr-@{number} { 
		padding-right: (@i*5px); 
	}
	.pb-@{number} { 
		padding-bottom: (@i*5px); 
	}
	.pt-@{number} { 
		padding-top: (@i*5px); 
	}
  .generate-padding(@n, (@i + 1));
}

.videowrapper {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 25px;
	background: black;
	width: 100%;
}

.videowrapper iframe,
.videowrapper embed,
.videowrapper object,
.videowrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}